* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #1b1b1b;
  /* cursor: none; */
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background: #ffffff;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid hsl(0, 0%, 100%, 0.5);
}

.cursor-dot, .cursor-outline {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
}